<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
	href="static/css/modelo.css" th:href="@{/css/modelo.css}">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container container-1">

		<h1>Nuevo Modelo</h1>

		<div class="card">
			<div class="card-header">Registro de nuevo modelo</div>
			<div class="card-body">

				<form th:action="@{/categoria/savemodelo}" th:object="${modelo}"
					method="post">


					<div class="form-group">
						<label for="nombre">Modelo Nombre:</label> 
						<input type="text" class="form-control"
							placeholder="Nombre del modelo"
							th:field ="*{nombre}">
					</div>
					<div class="form-group">
						<label for="imagen">Imagen:</label> 
						<input type="text" class="form-control"
							placeholder="M-IphoneLogo.png"
							th:field ="*{imagen}">
					</div>



					<button type="submit" class="btn btn-primary">
						<i class="fas fa-save"></i> Grabar
					</button>
					<a th:href="@{/categoria}" class="btn btn-danger"> <i
						class="fas fa-undo"></i> Cancelar
					</a>
				</form>

			</div>
		</div>



	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>