<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" type="text/css" href="static/css/producto.css"
	th:href="@{/css/producto.css}">
<head th:replace="layout/layout :: head"></head>

<body class="body-color">
	<header th:replace="layout/layout :: header"></header>

	<div class="container container-1">
		<h1>Producto</h1>
		<div class="card text-center">
			<div class="card-body">


				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Codigo</th>
							<th scope="col">Nombre</th>
							<th scope="col">Precio</th>
							<th scope="col">Stock</th>

						</tr>
					</thead>
					<tbody th:each="producto: ${productos}">
						<tr>
							<th scope="row" th:text="${producto.id}">1</th>
							<td th:text="${producto.nombre}">Mark</td>
							<td th:text="${producto.precio}">Otto</td>
							<td th:text="${producto.stock}">@mdo</td>



						</tr>
					</tbody>
				</table>

			</div>
			
		</div>
		<a th:href="@{/producto}" class="btn btn-danger"> <i
						class="fas fa-undo"></i> Regresar
					</a>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>